table {border-collapse: collapse;border-right:solid thin black;}
table td, table th {border: thin solid black; padding: 4px;}
tr.header {background-color: #EEEEEE;}
tr:hover td, tr:hover th {background-color: #DDDDDD;}
tr.even td {border-bottom: thin dotted black;}
tr.odd td {border-top: thin dotted black;}
td.even {background-color: #EEFFEE;}
td.head {background-color: #EEEEFF;}
td.num {text-align: right;}
td, th {width: 100px;}
td.error {color: red;background-color: yellow;}
td.title, th.title {width: 400px;}
td.mod, th.mod {width: 200px;}
#itemtable {margin: 0 auto;}
td.ititle, th.ititle {width: 600px;}
#filterdiv {display:none;}
